{% extends "base.html" %}
{% block content %}
{% load static %}


  <!-- Page Header -->
{% for obj in header %}
<header class="masthead" style="background-image: url({{ obj.cover_photo.url }})">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="page-heading">
          <h1></h1>
            <span class="subheading">{{ obj.subheading }}</span>
          </div>
        </div>
      </div>
    </div>
  </header>
  {% endfor %}

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <img class="centerAboutImg" src="../../../../../media/profile1.png" alt="Oskar" />
        <p>I'm a person who really enjoys traveling and discovering different cultures. I'm quite creative and hands on and I like to fix or build things from scratch. I'm passionate about learning new things and technologies.</p>
      </div>
    </div>
  </div>




{% endblock content %}
