<!-- Footer -->
  <div class="spacer">
    
  </div>
  <footer class="site-footer">
        <div>
          <ul class="list-inline text-center">
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  
                  <span id='clickableAwesomeFont'><i class="fa fa-github fa-2x fa-inverse"></i></span>
                </span>
              </a>
            </li>
          </ul>
          <p class="footer-text ">{% now "Y" %} &copy; made with <i class="fa fa-heart heart redd"></i></p>
        </div>
  </footer>